.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

/* Ícones e nome do app */
.header-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 22px;
}

/* Informação do usuário */
.header-user {
  font-size: 14px;
}
.btn-logout{
background-color: transparent;
border: none;
cursor: pointer;

}


/*=====================================================================
  TABLET (mínimo 601px e máximo 1024px)
=====================================================================*/

@media (min-width: 601px) and (max-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .header-in {
    gap: 20px;
    font-size: 28px;
  }
  .btn-logout{
background-color: transparent;
border: none;
cursor: pointer;

}
}



/*=====================================================================
  DESKTOP (a partir de 1025px)
=====================================================================*/
@media (min-width: 1025px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 47px;
  }

  .header-in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 36px;
  }

 .btn-logout{
background-color: transparent;
border: none;
cursor: pointer;
}

.icon {
  font-size: 50px;
  width: 60px;
  height: 48px;
}

}
