.card {
  background: #fff;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.8);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-right: -30px;

}

.card.small {
  width: 46px;
  height: 68px;
  font-size: 14px;
}

.card.medium {
  width: 88px;
  height: 106px;
  font-size: 58px;
}

.rank {
  font-weight: 700;
  line-height: 1;
  margin-top: 6px;
  font-family: "Times New Roman", Times, serif;
}

.suit {
  width: 100%;
  font-size: 16px;
  display: flex;
  margin-left: 10px;

}

/* CORES DOS NAIPES */
.red {
  color: #e53935;
}

.black {
  color: #111;
}

