.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 47px;
}

.header-in{
  display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
      font-size: 36px;
}
.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 47px;
  margin-right: 47px;
  border: 1px solid #999999;
  border-radius: 10px;
  background-color: white;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 50px;
  width: 60px;
  height: 48px;
}

.divs-sub{
  display: flex; flex-direction: row; align-items: center
}

.div-btn-start-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}
.btn-start-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #366cd4;
  color: white;
  width: 545px;
  height: 134px;
  border-radius: 6px;
  margin-top: 200px;
  font-size: 32px;
  gap:40px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.btn-start-game:hover{
   transform: scale(1.1);
}

.history-view{
  display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 150px;
    padding-top: 300px;
}

.history-view-child{
   display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      font-size: 18px;
      gap: 4px;
      width: 355px;
      height: 90px;
      border: 1px solid #999999;
      border-radius: 6px;
      padding: 10px;
      background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

}

.history-view-child:hover{
   transform: scale(1.1);

}
